$black: #000;
$dark: #191a20; // 제목등 중요 글자
$primary: #3f4150; // 일반 글자
$secondary: #8c8d96; // 덜 중요한 글가(할인전 가격등)
$tertiary: #b2b3b9;
$border: #e0e2e7; // 백그라운드보다 진하면 주로 보더로 사용한다.
$background: #f7f8fa; // 흰색 다음으로 오는 밝은색이 배경색으로 쓰인다.
$white: #fff;

$blue: #3da5f5;
$blue-dark: #3186c4;
$blue-light: #ecf6fe;

$red: #f86d7d;
$green: #22c58b;
